<!DOCTYPE html>
<html>
  <% include header.ejs %>
  <body ng-app="app">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="chessgame" ng-controller="ChessCtrl">
      <p><b>Instruction:</b> {{ instructions[step] }}</p>
      <p><b>Message:</b> {{ message }}</p>

      <canvas id="chessboard" ng-click="click($event)" width="600" height="600" style="border: 1px solid blue;"></canvas>
    </div>
    <script src="/js/chess-canvas.js"></script>

    <% include footer.ejs %>
  </body>
</html>
